.container{
background-color: aqua;
padding: 30px;
text-align: center;
position: absolute;
border-radius: 20px;
font-family: Arial, Helvetica, sans-serif ;
}

.container *{
    font-family: "Dm sans" sans serif
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

input{
  width: auto;  
  border: none;
  border-radius: 1%;
  padding: 1%;
  font-weight: 100;
  border-bottom: 2px solid slateblue;
}

input:focus{ 
    border-bottom: #f4f4f4;
}

button {
    width: auto;
    float: center;
    padding: 8px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    font-weight: 200;
    cursor: pointer;
}
p{ 
    margin-top: 5px;
    text-align: center;
    color: rgb(180, 18, 18);
    font-weight: 200;
}